Body {
    margin: 0;
}

.header, .hero{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    font-size: 24px;
    color: #f9faf8;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    display: flex; 
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}