Body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    font-size: 24px;
    color: #f9faf8;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    display: flex; 
    justify-content: center;
    padding: 30px
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    border: 1px solid white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    align-self: flex-start;
}

.hero-right {
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 20px 100px;

}